
.vs/

bin/*.lib

*.dll
*.exe
*.log
*.ilk
*.pdb
*.iobj
*.ipdb

obj/

*.user

Dependencies/CMake/


Dependencies/cmake-3\.14\.0-rc2-win64-x64/

Dependencies/cmake-3\.14\.0-rc4-win64-x64/

Dependencies/cmake-3\.14\.0-rc2/
