

bin/Ogre\.log

bin/OgreMain_d\.dll

bin/OgreMain\.dll

bin/RenderSystem_GL_d\.dll

bin/RenderSystem_GL\.dll

bin/TestOgre_d\.exe

bin/TestOgre_d\.ilk

bin/TestOgre_d\.pdb

bin/TestOgre\.exe

bin/TestOgre\.iobj

bin/TestOgre\.ipdb

bin/TestOgre\.pdb

bin/zlib\.dll

obj/

*.user
